*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: url(https://www.hiveworkshop.com/media/dark-metal-texture.45545/full?d=1465600223);
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
}
.formulario{
    padding-top: 450px;
    margin-top: 40px;
    text-align: center;
    background-image: url(https://i.pinimg.com/736x/fc/34/11/fc34119e56220d694c63d2168df0bf1b.jpg);
    width: 730px;
    height: 500px;
    text-align: center;
    margin-left: 300px;
    
}
#p1{
    color: black;
}

#mexer{
margin-top: 40px;
margin-bottom: 20px;
}

footer{
    background-image:url(https://i.ytimg.com/vi/4ABU3SSWNlw/maxresdefault.jpg) ;
margin-top: 200px;

}

#mexer2{
    color: black;
    text-align: center;
    padding: 20px;
    
}

